# PyInstaller files
*.spec
/dist/
/build/

# Virtual environments
venv/
venv_voice/ # Имя нашего окружения для этого проекта

# Logs and output folders
*.log
Logs/
Logs_VoiceAssistantV3/ # Старые имена, на всякий случай
Logs_VoiceAssistantV4/
Logs_VoiceAssistantV5/
Logs_VoiceAssistantV6/ # Новое имя
audio/
audioV2/
audioV3/
audioV4/
audioV5/
audioV6/ # Новое имя

# IDE specific
.idea/
.vscode/